


#main {

    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90%;
}

/*Header START */

.container-center:after {
    clear: both;
    content: "";
    display: block;
}

.container-center {
    background-color: #5E83B0;
    margin: 0 auto;
    padding: 0 0px;
    position: relative;
    width: 1056px;
}



.header-top {
    margin: 0 0 5px;
    overflow: hidden;
    padding: 20px 0 15px;
}

.user-link {
    width: 280px;
    float: right;
    font-size: 16px;
    list-style: none outside none;
    margin: 0;
    padding: 18px 4px 0 0;
}

/*Login, Register menu START */

.user-link li a.sign-up span {
    background: url(../images/signUp.png) no-repeat scroll 0;
    display: block;
    padding: 0 0 0 23px;
}

.user-link li a.sign-in span {
    background: url(../images/signIn.png) no-repeat scroll 0;
    display: block;
    padding: 0 0 0 23px;
}

.user-link li a {
    border-radius: 20px;
    color: #333333;
    float: left;
    min-width: 91px;
    position: relative;
    text-decoration: none;
}

.user-link li a.sign-up:hover, .user-link li.active a.sign-up {
    border: 2px solid #333333;
    color:#1FECFF;
}

.user-link li a.sign-up {
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 8px 5px 9px 14px;
}

.user-link li a.sign-in:hover, .user-link li.active a.sign-in {
    border: 2px solid #333333;
    color:#1FECFF;
}

.user-link li a.sign-in {
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 8px 5px 9px 14px;
}

.user-link li a:hover {
    text-decoration: none;
}

/*Login, Register menu END */


/* Links */


#nav {
    font-size: 16px;
    margin: auto;
    padding-top: 20px;
    height: 42px;
    background: #C9D3DC;
    width: 90%;
}


#nav ul {
    display: table;
    list-style: none outside none;
    margin: auto;
    text-align: center;
   /*width: 90%;*/
}

#nav li {
    display: table-cell;
    text-align: center;
}


#nav a.active, #nav a:hover {
    border: 2px solid #333333;
    text-decoration: none;
}
#nav a {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    color: #333333;
    padding: 8px 20px 9px;
    position: relative;
    transition: all 300ms ease 0s;
}

/* Links END */

/*Header END */


.container-content {
    width: 90%;
    background:;
    margin: auto;
    margin-top:10px;
}

/* LogIn form START */


.form label {
    color: #999999;
    display: block;
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 8px 15px;
}

/*SignIn button form START */

.btn-form {
    background: none repeat scroll 0 0 #00BEC5;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 30px;
    width: 200px;
    line-height: 30px;
    padding: 0 0 4px;
    position: relative;
     margin: 25px 0 0 0;
     float:left;
    transition: all 300ms ease 0s;
}


.btn-form:hover {
    background: none repeat scroll 0 0 #424D50;
    cursor: pointer;
}

.link-forgot-password {
    color: #009AA8;
    float: left;
    font-size: 12px;
    line-height: 18px;
    margin: 27px 33px 0;
    text-decoration: none;
}


/*SignIn button form END */

.mark-red {
    color: #FF3333;
}

.input {
    color: #999999;
    font-size: 14px;
    height: 24px;
    line-height: 20px;
    margin: 6px 0 0;
    padding: 0;
    width: 200px;
}

/* LogIn form START */
/*admin edit user by id */
.inputUser {
    color: #999999;
    font-size: 14px;
    height: 24px;
    line-height: 20px;
    margin: 6px 0 0;
    padding: 0;
    width: 90%;
}
/*admin end */

/* welcome block START */
.blocks-hold .white-block {
    min-height: 201px;
}
.white-block {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    padding: 5px 0 20px;
    position: relative;
}

.blocks-hold .content-heading {
    margin: 0 0 18px;
}
.content-heading {
    border-bottom: 1px solid #E5E5E5;
    margin: 0 0 27px;
    overflow: hidden;
    padding: 8px 25px 12px;
}

.content-heading h2, .content-heading h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    margin: 0 20px 0 0;
    display: table;
    margin: 0 auto;
    text-align: center;
}
h1 {
    color: #000000;
    font-size: 30px;
    font-weight: normal;
    line-height: 46px;
    margin: 0 0 14px;
}

.link-signIn {
    border: 2px solid #00BEC5;
    border-radius: 25px;
    color: #00BEC5;
    padding: 5px 14px;
     display: table;
    margin: 0 auto;
    text-align: center;

}
a {
    color: #00BEC5;
    outline: medium none;
    text-decoration: none;
    transition: all 300ms ease 0s;
}

.link-signIn:hover {
    background: none repeat scroll 0 0 #00BEC5;
    color: #FFFFFF;
    text-decoration: none;
}

/* left Users all START*/

#sidebar {
    float: left;
    width: 200px;
}

.side-list {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}

.side-list {
    list-style: none outside none;
}


.side-list li:first-child a {
    border-radius: 5px 5px 0 0;
}
.side-list li a {
    display: table-cell;
    height: 51px;
    padding: 5px 25px 4px 16px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 300px;
}


.side-list li .text {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}


.side-list li.active a, .side-list li a:hover {
    background: no-repeat scroll 223px 50% #00BEC5;
    color: #FFFFFF;
}
.side-list li a:hover {
    text-decoration: none;
}

.admin-blocks {
    background-color: #EBF1F3;
    padding: 10px 10px 10px 10px;
    float: right;
    width: 98%;
}

.editUser-block {
    background: white;
    width: 77%;
    float: right;
    padding-bottom: 10px;
}



.users-block {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    padding: 5px 5px 20px;
    float: left;
    margin-left:50px;
}

.games-block {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    padding: 5px 0 20px;
    position: relative;
     float: right;

}

.pass-block {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    padding: 5px 0 20px;
    position: relative;
     float: right;
     margin-top:10px;
}

.secret-block {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    padding: 5px 0 20px;
    position: relative;
     float: left;
     margin-top:10px;
     margin-left:50px;
     width: 450px;
     
}

.list {
    
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 0;
    width: 395px;
}


.creatUser-block {
     background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    padding: 5px 5px 20px;
    float: left;
    margin-left:50px;
      margin-top:10px;
      width: 300px;

}

.creatGame-block {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    padding: 5px 0 20px;
    position: relative;
     float: right;
      margin-top:10px;

}

.content-heading {
    border-bottom: 1px solid #E5E5E5;
    margin: 0 0 27px;
    overflow: hidden;
    padding: 8px 25px 12px;
}

.content-heading h2, .content-heading h1 {
    float: left;
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    margin: 0 20px 0 0;
}

.white-block .inner-content:after {
    clear: both;
    content: "";
    display: block;
}
.white-block .inner-content {
    padding: 0 24px 0 27px;
}

.scroll-pane-hold:after {
    clear: both;
    content: "";
    display: block;
}

element.style {
    overflow: hidden;
    padding: 0;
    width: 340px;
}
.scroll-pane {
    height: 170px;
    overflow: auto;
    position: relative;
    width: 300px;
    border-bottom: 1px solid #E5E5E5;
        
}

	::-webkit-scrollbar { width: 5px; height: 3px;}
	::-webkit-scrollbar-thumb { height: 50px; background-color: #EBF1F3; border-radius: 3px; }


.general-table .col01 {
    width: 180px;
}
.general-table td {
    padding: 0 5px 6px 4px;
    vertical-align: top;
}

.general-table .col02 {
    text-align: right;
}

.del-but:hover {
    
    color: red;
}


.row-bottom {
    
    float: right;
    padding: 0px 5px 5px 5px; 
    margin-top:20px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}


.change_pass {
    
    width: 290px;
    margin: 7px 7px;
}
/* welcome block END */


#footer {
    overflow: hidden;
    margin-top:20px;
}
header, nav, section, article, aside, footer, figure, menu, dialog {
    display: block;
}

.footer-top {
    background-color: #6E94C5;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.footer-nav {
    float: right;
    font-size: 12px;
    padding: 9px 0 0;
    width: 607px;
}

.footer-nav ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 181px;
}

.footer-nav li:after {
    clear: both;
    content: "";
    display: block;
}
.footer-nav li {
    color: #3B4755;
    padding: 0 0 6px;
}

a {
    color: black;
    outline: medium none;
    text-decoration: none;
    transition: all 300ms ease 0s;
}

a:hover {
    text-decoration: underline;
    color: #1FECFF;
}

.footer-bottom {
    background: none repeat scroll 0 0 #1C272D;
    color: #717F87;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    height: 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    padding-top:15px;
    
}

